
body{
    background-image:url(./../images/desktop-1440x900.jpg);
    font-family:'Merienda';
    color:white;
    margin:0 10%;
}
h2{
    text-align: center;
}
nav{
    box-sizing:border-box;
    text-align: center;
    
}



nav ul ul {
	display: none;
}

nav ul li:hover > ul {
	display: block;
}

nav ul {
	background-color:#353535;
	box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.74);
	padding: 0;
    border: 1px solid rgb(223, 165, 165);
	border-radius: 5px;  
	list-style: none;
	position: relative;
	display: inline-table;
    font-size: 1rem;
}
	 a.home{
        background:#ff3f7586;
        color: #abadb1;
        border-radius:5px;
    }


    nav ul li {
    float: left;
    }
    nav ul li:hover {
    background-color:  #ff3f76;
    border-radius: 5px;
    }
    nav ul li:hover a {
    color: #fff;
    }
        
    nav ul li a {
    display: block; 
    padding: 14px 36px;
    color: #f8f8f8; 
    text-decoration: none;
    }
    

    nav ul ul {
    background: #353535;
    border-radius: 5px; 
    padding: 0;
    position: absolute; 
    top: 100%;
    }
    nav ul ul li {
    float: none; 
    border-top: 1px solid #6b727c;
    border-bottom: 1px solid #575f6a;
    position: relative;
    }
    nav ul ul li a {
    padding: 15px 48px;
    color: #fff;
    }	

    nav ul ul li a:hover {
    background-color: #ff3f76;
    }

    nav ul ul ul {
    position: absolute; left: 100%; top:0;
    }

   
    
                    