
*{
    margin: 0;
}
.galery{
background-color:bisque
}

h1{
    text-align: center;
    color: darkgray;
}

img{
    max-width: 100%;
}

figure{
   box-sizing: border-box;
    display: inline-block;
    text-align: center;
    border:9px double rgb(17, 16, 16);
    border-radius:20%;
    margin: 10px;
    background-color:rgb(50, 155, 155)
}
.dog-picture { 
    width: 200px;
    height: 200px;
    border-radius:20%;
    object-fit: cover;
    object-position: top ;
}

.dog-sleep, .baby-dog{
    object-position: center;
}

figcaption{
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
}